<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Dee Keyboard"
        android:icon="@drawable/dee_keyboard_icon"
        android:roundIcon="@drawable/dee_keyboard_icon"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DebugAsrTestActivity"
            android:exported="true" />

        <receiver
            android:name=".DebugAsrTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.qwenkeyboard.voicekeyboard.DEBUG_ASR_TEST" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugAlibabaAiTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.qwenkeyboard.voicekeyboard.DEBUG_ALIBABA_AI_TEST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".QwenVoiceInputMethodService"
            android:exported="true"
            android:label="Dee Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/qwen_voice_ime" />
        </service>
    </application>
</manifest>
